<a href="https://colab.research.google.com/github/gnudahyeon/DL23/blob/main/DL/DLW02d_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# üìó Topic [2]: Coding basic #2
---
Keywords:

+ variables
+ **operators**
+ **data types: list and dictionary**

Your github IDs [here](https://docs.google.com/spreadsheets/d/17SX51lCqOdtvC7cAGoX5tP9fKwVdGY5sRzMg2pXh9uk/edit#gid=0) - revised 0327

## [1] Variables

+ **A variable** is a named storage location that holds a value.
+ Variables can be used **to store values** such as numbers, strings, lists, or other data types. 
+ The value of a variable can change throughout the execution of a program. 
+ To declare a variable in Python, you need to assign a value to it using the **equal (=) sign.**

In [6]:
x = 10
y = "Hello, class!"
z = [1, 2, 3]

‚ÜóÔ∏è In the above example, 'x' is assigned the value of 10, 'y' is assigned the value of "Hello, World!", and 'z' is assigned the value of [1, 2, 3].

In [ ]:
# We can assign a link or a function
import pandas as pd
url = "https://github.com/MK316/Spring2023/raw/main/data/att_sample.csv"
data = pd.read_csv(url)
data

      Names
0      Mary
1      John
2       Tim
3       Bob
4     Sarah
5      Kate
6     Marie
7   Johnson
8      Mike
9     Harry
10      Jin
11      Sam
12     Paul
13  Natalie

csv : ÏóëÏÖÄ Î≥ÄÌôò

## Commenting '#'

- In Python, the # symbol is used to indicate comment lines. A comment is a line of text in a code that is ignored by the Python interpreter and is used to provide explanations or notes for the reader of the code.

## Uncommenting shortcut: 
* "Ctrl + /" (Place the cursor on the code line and press the Control + / key.)

#Ïù¥ÌõÑÏùò Î¨∏ÏûêÎäî Ïª¥Ìì®ÌÑ∞Í∞Ä Î™ÖÎ†πÏúºÎ°ú Ïù∏ÏãùÌïòÏßÄ ÏïäÏùå

In [3]:
# This is a comment in Python
x = 10 # this is also a comment

In [4]:
x1 = x * 10
x2 = x + 5

print(x1) # Print the value of x1
print(x1, x2) # Print the values of x1 and x2

100
100 15

ÏõêÎûò ÎßàÏßÄÎßâ Ï§Ñ Í≤∞Í≥ºÎßå ÎÇòÏò¥
‚ñ∑print ÏÇ¨Ïö©
ÎåÄÏÜåÎ¨∏Ïûê ÌãÄÎ¶∞Í≤ÉÎèÑ ÏóêÎü¨Î°ú Ïù∏Ïãù
ctrl+/ ÎèôÏãúÏóê ÎàÑÎ•¥Î©¥ # ÏóÜÏñ¥Ï°åÎã§ ÏÉùÍ≤ºÎã§ Ìï®Ìï®

In [7]:
print(y)
y1 = y + "Welcome to the class."
z1 = z + [3,2,1]
 
print(y1, z1)

Hello, class!
Hello, class!Welcome to the class. [1, 2, 3, 3, 2, 1]

Input types:

* integer(int)Ï†ïÏàò: e.g., -3, 1, 0, 234, etc.
* float: e.g., -3.0, 1.2, 0, 3.141592653589793238, etc.
* string(str)Î¨∏Ïûê: (characters) "1", '0', "3.29", "Mary", "euphoria", 'My name is Jane.'

_Note:_ double or single quotation marks denote **string** data. (Open and close should match.)

Ï†ïÏàò integer (int)
ÏÜåÏà´Ï†ê Îì§Ïñ¥Í∞ÄÎäî Ïã§Ïàò. float
""ÌòπÏùÄ''ÏïàÏóê Îì§Ïñ¥Í∞ÄÎ©¥ Ïà´ÏûêÍ∞Ä ÏïÑÎãå Î¨∏ÏûêÎ°ú Ïù∏Ïãù (string)

In [8]:
# DIY
x = 1
y = 3
z = x + y
print(z)

x1 = "1"
y1 = "3"
z1 = x1 + y1
print(z1) #Ïó∞ÏÇ∞ÏùÑ ÌïòÎäîÍ≤å ÏïÑÎãàÎùº Îã®Ïàú Î¨∏ÏûêÎ•º Ìï©ÏπúÍ±∏ Î≥¥Ïó¨Ï§åÏ§å

4
13

**type()**

In [9]:
type(z)

int

In [10]:
type(z1) #strÎÅºÎ¶¨ ÎçîÌïúÍ±∞ÎãàÍπåÍπå

str

In [11]:
print(type(z), type(z1))

<class 'int'> <class 'str'>

## [2] Operators

* Symbols that perform operations on values and variables. 
* They are used to perform arithmetic and logical operations, and they can also be used to manipulate and compare values.

1. Arithmetic Operators: +, -, *, /, %, ** (for exponentiation)
2. semicolon ';' - separate multiple statements (code lines) on a single line.

In [12]:
x = 2; y = 5

a1 = x + y
a2 = x - y
a3 = x * y
a4 = x / y
a5 = x ** y

In [ ]:
print(a1, a2, a3, a4, a5)

7 -3 10 0.4 32

In [ ]:
print("The value of a2:", a2)

The value of a2: -3

# üå± Define a function

Demo üî¢ Calculator

In [13]:
# This function adds two numbers
def add(x, y):
    return x + y

# This function subtracts two numbers
def subtract(x, y):
    return x - y

# This function multiplies two numbers
def multiply(x, y):
    return x * y

# This function divides two numbers
def divide(x, y):
    return x / y

argument: Í¥ÑÌò∏ÏïàÏóê Îì§Ïñ¥Í∞ÄÎäîÍ≤É.Î≥ÄÏàò. Ìï®ÏàòÏóêÎî∞Îùº ÌïÑÏöîÎ°úÌïòÎäîÍ≤É Îã¨ÎùºÏßê
def=define Ìï®ÏàòÏ†ïÏùòÌï†Îïå

In [ ]:
# DIY: define a function names switch(x, y), where the input x, y changes its position in the output.

In [16]:
# Test

add(2,3)
type(subtract(2,3))
# multiply(2,3)
# divide(3,2)

int

In [ ]:
add(1330,20)

1350

## Using dropbox format

In [17]:
!pip install gTTS
from gtts import gTTS
from IPython.display import Audio
def tts(text):
  gtts_object = gTTS(text,lang = "en", slow = True) 
  gtts_object.save("myaudio.mp3")
  return Audio("myaudio.mp3")

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting gTTS
  Downloading gTTS-2.3.2-py3-none-any.whl (28 kB)
Requirement already satisfied: requests<3,>=2.27 in /usr/local/lib/python3.10/dist-packages (from gTTS) (2.27.1)
Requirement already satisfied: click<8.2,>=7.1 in /usr/local/lib/python3.10/dist-packages (from gTTS) (8.1.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27->gTTS) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27->gTTS) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27->gTTS) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27->gTTS) (3.4)
Installing collected packages: gTTS
Successfully installed gTTS-2.3.2

gTTs ÏÑ§ÏπòÌïòÍ≥†(install) from gtts import gTTS ÏΩîÎìú Î∂ôÌûàÍ≥† defÌï¥Ï£ºÍ∏∞Í∏∞

In [18]:
func = "subtract" #@param = ["add","subtract","multiply","divide"]
digits = input("Type two numbers: (e.g., 3,4)")
digitsplit = digits.split(',')
d1 = int(digitsplit[0])
d2 = int(digitsplit[1])

if func == "add":
  result = add(d1,d2)
  text = "The addition of %d and %d equals %d."%(d1,d2,result)
elif func == "subtract":
  result = subtract(d1,d2)
  text = "If you subtract %d from %d, you get %d."%(d2,d1,result)
elif func == "divide":
  result = divide(d1,d2)
  text = "When you divide %d by %d, you get %d."%(d1,d2,result)
elif func == "multiply":
  result = multiply(d1,d2)
  text = "%d multiplied by %d is %d."%(d1,d2,result)

print(text)
tts(text)
Audio("myaudio.mp3")

Type two numbers: (e.g., 3,4)4,5
If you subtract 5 from 4, you get -1.

More operators: <br>
* Comparison Operators: ==, !=, <, >, <=, >= <br>
* Assignment Operators: =, +=, -=, *=, /=, %= <br>
* Logical Operators: and, or, not <br>
* Identity Operators: is, is not <br>
* Membership Operators: in, not in

# üìóTopic [3] Data types: number, string, list and dictionary


|Data type| |
|:--:|:--:|
|number|int, float|
|string|charcter|
|list|[1, 2,4], ['Mary','Tom','Jane'|
|dictionary|(key: value), [('English': 80), ('Korean':90)]|
|tuple|('zero', 0)|

list: ÌïòÎÇò Ïù¥ÏÉÅÏùò Îç∞Ïù¥ÌÑ∞

In [21]:
a1 = 3   # a1 is integer
a2 = 3.0 # a2 is float
a3 = "3" # a3 is string

type(a1); type(a2); type(a3)
print(type(a1), type(a2), type(a3))

<class 'int'> <class 'float'> <class 'str'>

list and index (0, 1, 2,...)

In [23]:
a = [1, "Mary", 4, "John"]  # This is a list.
print(type(a))

# a+a

<class 'list'>

listÎèÑ intÎÇò strÏ≤òÎüº ÌïòÎÇòÏùò ÌÉÄÏûÖÏûÑ(ÌïòÎÇò Ïù¥ÏÉÅÏùò Î≥ÄÏàòÍ∞Ä Î™®ÏïÑÏßÑ)

* index: Python index starts from '0'

e.g., a = [1, 2, 3, 4] 
0Î≤àÏß∏~3Î≤àÏß∏Ïß∏

In [26]:
a[0]
type(a[0])
type(a[1])
# a[0] + a[2]
# a[0] + a[1]

str

a[0] + a[1] :ÏóêÎü¨ 
strÍ≥º numberÎäî ÎçîÌï† Ïàò ÏóÜÏùå

[Github accounts](https://raw.githubusercontent.com/MK316/Spring2023/main/DL/files/DL_github.csv)



---
# The End