<a href="https://colab.research.google.com/github/gnudahyeon/DL23/blob/main/DL/DWL07B_LDH.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DLW07B Self test
###String: A string is a sequence of characters enclosed in single or double quotes.
###Integers are whole numbers, positive or negative, without any decimal points.

In [1]:
greeting= "Hello,students!"
year= "2023"

In [2]:
print (greeting)
print (year)

Hello,students!
2023

In [3]:
message = greeting + " " +str(year)

In [5]:
num1 = 10
num2 = 3

print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 % num2)

13
7
30
1

In [ ]:
print(user_string)

In [ ]:
user_number= input("Type any number :")

In [ ]:
user_string = input ("Type any string :")
user_number = input ("Type any number: ") #input () is a basically string.
user_number = int (user_number) # string to integer


user_string*user_number

In [ ]:
a = int(user_number)
type(a)

excersice 6

In [7]:
sentence = "Coding is fun and easy to learn!"
sentence.split()
print(word_list)

['Coding', 'is', 'fun', 'and', 'easy', 'to', 'learn!']

In [ ]:
a = "Coding is Exciting!"

uppercase_text = a.upper()
uppercase_text = a.lower()
lowercase_text

In [9]:
quote = "To be or not to be, that is the question."

In [11]:
quote[0]

'T'

In [12]:
quote[-1]

'.'

In [13]:
quote[0:5] #콜론 앞은 포함,뒤는 미포함

'To be'

In [14]:
quote[5:]

' or not to be, that is the question.'

In [15]:
reverse = quote[::-1]
print(reverse)

.noitseuq eht si taht ,eb ot ton ro eb oT